/* topbar */
.main-topbar {
  background-color: #fff;
  border-bottom: 1.5px solid #d9dbdd;

  span {
    color: #0a1324;
    margin: 0 5px;
  }

  .mx-button {
    color: #0a1324;
    border-color: #aaa;
    background-color: transparent;
    font-weight: bold;
    &:hover {
        background-color: #edf2ff;
    }
  }
  .main-topbar-menu {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: transparent;
        ul {
            & li > a {
                color: #0a1324 !important;
                font-weight: bold !important;
                    .caret {
                        border-top-color: #0a1324 !important;
                        border-bottom-color: #0a1324 !important;
                    }
                    &:hover,
                    &:focus,
                    &.active {
                        color: #3b5bdb !important;
                        background-color: transparent !important;
                        outline: 0;
                        span {
                            color: #3b5bdb;
                        }
                        .caret {
                            border-top-color: #3b5bdb !important;
                            border-bottom-color: #3b5bdb !important;
                        }
                    }
                    &.active {
                        color: #3b5bdb !important;
                        background-color: transparent !important;
                    }
            }
            & li.open {
                > a {
                    background-color: transparent !important;
                }
            }
            & li.open {
                > ul.dropdown-menu {
                    > li.active {
                        a {
                            background-color: transparent !important;
                        }
                    }
                    > li:hover {
                        background-color: #edf2ff !important;
                    }
                }
            }
        }
    }
    .globalsearchbtn {
        margin: 0 10px 0 0;
        span {
            color: #5c7cfa;
        }
    }
}
