
// Layout 

    // 메뉴
    
    .menugallery{

        background-color: #d7d7d7;
        .infinite-loading{
            overflow: visible !important;
        }
    }


.popupmenu-menu{
    .popupmenu-basic-item{
        background-color: #d7d7d7;
    }
}