/* MyPage SideBar */
.mx-scrollcontainer-toggleable {
    box-shadow: 3px 0 4px #ddd;
}
.sidebar-content {
    .companyname {
        color: #fff;
        font-weight: bold;
        background-color: #4263eb;
        padding: 24px 12px 20px;
        div {
            display: flex;
            align-items: center;
            & img {
                margin: 0 8px 0 0;
            }
        }
    }
    .myprofile {
        background-color: #4263eb;
        padding: 12px 12px 36px 12px;
        .profilewrap {
            & .row {
                align-items: center;
                .profileimg {
                    padding: 0;
                }
                .myname {
                    display: flex;
                    flex-direction: column;
                    padding: 0 0 0 16px;
                    span {
                        color: #fff;
                        font-weight: 600;
                    }
                    .departmentname {
                        font-size: 12px;
                        font-weight: 400;
                        margin-top: 4px;
                    }
                }    
            }
            img {
                border-radius: 50%;
            }
        }
    }
    .sidemenu {
        padding: 24px 12px;
        div { 
            padding: 0;
            div {
                padding: 12px 4px 12px 8px;
                display: flex;
                align-items: center;
                &:hover {
                    background-color: #edf2ff;
                }
                img {
                    margin: 0 8px 0 0;
                }
                span {
                    font-weight: bold;
                }
            }
        }
    }
    .bookmark {
        padding: 12px;
        div {
            display: flex;
            align-items: center;
            h5 {
                margin: 0;
                &:hover {
                    color: #4263eb;
                }
            }
            img {
                margin: 0 8px 0 0;
            }
        }
        .mx-listview-empty {
            display: none;
        }
    }
}