@import "../../atlas_core/web/_variables.scss";
@import "../../feedbackmodule/web/includes/_atlasVariables.scss";
@import '../../../theme/web/custom-variables';

@media (max-width: $screen-md) {
  span {
    font-size:larger;
  }
}

body {
  margin: 0 auto !important;
  background-color: #F2F6FE;
}

/*
.main-topbar {
  background-color: $brand-inverse;

  span {
    color: #fff;
    margin: 0 5px;
  }

  .mx-button {
    color: #fff;
    border-color: #aaa;
    background-color: transparent;
  }

  .main-topbar-menu {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: transparent;
  }
}
*/

.mx-button {
    margin: 0 2px;    
}

.ant-empty {
    display: none;
}

.input-required {
  input {
    border-color: #4472C4;
  }
  select {
    border-color: #4472C4;
  }
}

.input-disabled {
  .form-control-static {
    padding: 10px;
    background-color: #eee;
    border-color: #ddd;
    border-style: solid;
    border-width: 1px;
    border-radius: 5px;
  }
}

.widget-header-sort {
    display: flex;
    flex-direction: column;;
    justify-content:center;
    align-items: center;
    margin-left: -9px;
    margin-right: -8px;
    height: 35px;
    border-style: solid;
    border-width: 1px;
    border-color: #ccc;
    background-color: #BAC8FF;
    font-size: 14px;
    font-weight: 700;
}

.listview-stylingless {
    >ul>li {
        .row {
            >div {
                display: flex;
                flex-direction: column;;
                justify-content:center;
                align-items: center;
                margin-top: -1px;
                margin-left: -1px;;
                background-color: #fff;
                min-height: 35px;
                border-style: solid;
                border-width: 1px;
                border-color: #ddd;
                font-size: 14px;
            }
        }
    }
}

.white-frame-with-title {
    padding: 15px;
    margin: 10px;
    background-color: #fff;
    border-style: solid;
    border-color: #ddd;
    border-width: 1px;
    border-radius: 5px;
    box-shadow: 3px 3px 3px #ddd;

    >h5 {
        padding-bottom: 10px;
        border-bottom-style: solid;
        border-bottom-color: #ddd;
        border-bottom-width: 1px;
    }
}

.left-tree {
    background-color: white;
    box-shadow: 3px 3px 3px #ddd;
}

.count-text {
    padding: 0 10px;
    min-width: 100px;
    span:nth-child(1) {
        font-size: small;
        font-weight: bold;
    }

    span:nth-child(2) {
        font-size: x-large;
        font-weight: bold;
        color: #4472C4;
    }

    span:nth-child(3) {
        font-size: smaller;
        color: #aaaaaa;  
    }
}

.list-round-border {
    >ul >li {
    padding: 5px;
    background-color: rgb(246, 252, 255);
    border-style: solid;
    border-color: #ddd;
    border-width: 1px;
    border-radius: 5px;
    }
}

.plant-frame {
  margin-bottom: 10px;
  padding: 15px;
  background-color: #fff;
  border-width: 1px;
  border-color: #ccc;
  border-style: solid;
  box-shadow: 3px 3px 3px #ddd;

  .plant-image {
    border-radius: 50%;
    
  }
}

.plant-description {
  span {
    color: #4472C4;
  }
  >div{
    >div:nth-child(1)>div:nth-child(1) {
      margin-bottom: 10px;
      >span {
        color: black;
        font-size:x-large;
      }
    }
  }
}

.equipment-gallery-view {

  .equipment-gallery {
    background-color: #fff;
    margin: 0px 10px 10px 0;
    padding: 20px;
    border-width: 1px;
    border-color: #ccc;
    border-style: solid;
    border-radius: 5px;
    box-shadow: 3px 3px 3px #ddd;

    .equipment-title {
      font-size: larger;
      font-weight: bold;
      color: #4472C4;
    }

    span {
      font-size: small;
    }
  }
}

.equipment-detail {
  padding: 30px;
  span {
      color: #4472C4;
      margin: 5px 0;
  }

  .equipment-detail-image {
    margin: 20px 0;
  }

  .kpi-detail {
    margin: 30px 30px 0 0;
    >span:nth-child(1) {
      color: black;
      font-size: large;
      margin: 0;
    }
    >span:nth-child(2) {
      color: #4472C4;
      font-size: large;
      font-weight: bold;
      margin: 0;
    }
    >span:nth-child(3) {
      color: #aaa;
      font-size: smaller;
      margin: 0;
    }
  }
}

.equipment-tree {
  padding: 10px 10px;
  background-color: #DAE3F3;
  height: 100%;
  span {
    font-size: small;
  }
}

.sensor-gallery {
  background-color: #fff;
  margin: 10px;

  .sensor-monitoring-detail {
    margin: 10px;
    padding: 10px;
    border-radius: 10px;
    border-color: #ccc;
    border-style: solid;
    border-width: 1px;

    >div>div>div {
      padding: 10px;
      >div {
        >span:nth-child(1) {
          font-size: medium;
          font-weight: bold;
        }  
        >span:nth-child(2) {
          font-size: xx-large;
          font-weight: bold;
        }
      }
    }
  }
  .sensor-is-running {
    background-color: rgb(161, 231, 161);
  }
  .sensor-out-of-range {
    background-color: rgb(253, 145, 145);
  }
  .sensor-stopped {
    background-color: #ddd;
  }
}

.workorder-area {
  >div {
    background-color: #fff;
    margin: 10px;
    padding: 0;
    border-style: solid;
    border-width: 1px;
    border-radius: 5px;
    border-color: #ddd;
    box-shadow: 3px 3px 3px #ddd;

    .workorder-list-switch {
      padding-top: 0px;
      >div>label {
        min-width: 65px;
        padding-right: 0px;
      }
    }

    .workorder-list-button {
      padding-top: 0px;
    }

  .workorder-list {
    margin-top: -82px;
    padding: 10px;
      tbody {
      .code-column {
          display: flex;
          justify-content: center;
          >div {
            background-color:rgb(224, 238, 253);
            padding: 0 10px;
            border-radius: 10px;
          }
        }        
      }
    }
  }
}

.workrequest-barchart {
  button {
    visibility: hidden;
  }
}

.work-assignment-workers {
  div {
    min-width: 100px;
  }
  label {
    font-size: smaller;
    min-width: 100px;
  }
}

.listview-user{
  .row {
    > div {
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }
}

.canceled-text {
  text-decoration: line-through;
}

.yes-text {
  background-color: $btn-primary-bg;
  padding: 2px 4px;
  border-radius: 5px;
  color: #fff;
  font-size: x-small;
  font-weight: bold;
}

.no-text {
  background-color: $btn-danger-bg;
  padding: 2px 4px;
  border-radius: 5px;
  color: #fff;
  font-size: x-small;
  font-weight: bold;
  color: #fff;
}

.control-box {
  display: flex;
  >div {
    margin: 3px;
  }
  >button {
    margin-bottom: 5px;
  }
}

/*workorder filter hover시 삭제버튼*/
.filterhelperlist {
  background-color: #ddd;
  border-color: #ccc;
  border-radius: 4px;
  height: 30px;
  width: 125px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 5px;
  >span{
    font-size: 15px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  .filterdeletebtn{
    color: red !important;
    border: 0px;
    display: none;
    font-size:15px;
    margin-left:5px;
  }
}
.filterhelperlist:hover .filterdeletebtn{
  display: inline-block;
}

.selectedequipment{
  display: flex;
  .depart-user{
    margin-left:4px;
  }
  .mx-templategrid-content-wrapper {
    display:inline;
  }

}

/*kanban보드 status , 색상*/

.workrequest-color, .workapproval-color, .workassignment-color, .workplanning-color, .workexecute-color, .workcomplete-color {
      margin-left: 30px;
      width:25px;
      height:25px;
      border-radius: 5px;
      margin-top: 2px;
}
.workrequest-color{
    background-color: #ffccff;
}
.workapproval-color{
  background-color: #fdd5cd;
}
.workassignment-color{
  background-color: #ffffcc;
}
.workplanning-color{
  background-color: #ccffcc;
}
.workexecute-color{
  background-color: #ccffff;
}
.workcomplete-color{
  background-color: #cde5ff;
}
.workorderstatus {
  margin-top: 10px;
  height: 40px;
  border: 1px solid #ced0d3;
  background-color: white;
  padding-top: 4px;
  .workorder-kanban-add-btn{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 30px;
    color:black;
    margin-left: -10px;
  }
  .workorder-kanban-count{
    display: flex;
    align-items: center;
    justify-content: center;
    width:40px;
    height:30px;
    border: 1px solid #e7e7e9;
    border-radius: 4px;
    margin-left:25px;
  }
  .workorder-status{
    margin-top:5px;
  }
}
.request-code, .approval-code,.assignment-code,.planning-code,.execute-code,.completion-code{
  width: fit-content;
  padding: 1px 3px 1px 3px;
  border-radius: 4px;
}
.request-code{
    background-color: #ffccff;
}
.approval-code{
  background-color: #fdd5cd;
}
.assignment-code{
  background-color: #ffffcc;
}
.planning-code{
  background-color: #ccffcc;
}
.execute-code{
  background-color: #ccffff;
}
.completion-code{
  background-color: #cde5ff;
}

/*작업관리 캘린더*/
.rbc-event{
  color: black !important;
}

.rbc-time-header{
  border: 1px solid #DDD;
}

.rbc-time-view{
  border:none !important;
}

.rbc-time-content, .rbc-label, .rbc-time-slot,.rbc-day-slot,.rbc-time-column .rbc-timeslot-group{
  display:none !important;
  border:none !important;
}
.rbc-time-content > .rbc-day-slot, .rbc-current-time-indicator{
  display: none !important;
}

/*kanban 보드 작업진행 status 완료버튼*/
.btn-status-disabled{
  opacity: 0.5;
  pointer-events: none;
}

.file-upload {
  .form-group {
    margin-bottom: 0px;
  }
}